
/* ::::: http://vortex.accuweather.com/adc2004/pub/css/2006/adc_canada_base.css ::::: */

@media all {
  html { overflow-x: hidden; overflow-y: scroll; }
  a { color: rgb(0, 0, 255); text-decoration: underline; }
  body { margin: 0px; background: rgb(255, 255, 255) url('canada_page_bg.gif') repeat scroll 0% 0%; color: rgb(0, 0, 0); font-family: arial,helvetica; font-size: 11px; line-height: 14px; text-align: center; }
  img { border: 0px none ; }
  #page_container { margin: 0px auto; padding: 0px; overflow: hidden; display: block; width: 990px; text-align: left; }
  .img_white_arrow_down { border-style: none; margin: 0px 2px; width: 9px; height: 5px; }
  .nav_arrow { border-style: none; width: 11px; height: 6px; display: block; position: absolute; }
  .imgIcon31x31 { border-style: none; margin: 5px 0px; width: 31px; height: 31px; }
  .imgIcon31x24 { border-style: none; margin: 5px 0px; width: 31px; height: 24px; }
  #adcheader_cobrandTop { margin: 0px; padding: 0px; width: 990px; background-color: rgb(242, 242, 242); text-align: center; }
  .navcobrand { font-size: 11px; color: rgb(0, 0, 255); text-decoration: underline; }
  #adcheader_cobrandTextBar { margin: 0px; padding: 10px 0px 5px; width: 990px; height: 20px; background-color: rgb(242, 238, 230); }
  #adcheader_cobrandMsg { width: 450px; float: left; font-size: 12px; font-weight: bold; color: rgb(0, 51, 102); text-indent: 5px; }
  #adcheader_cobrandUrl { width: 450px; float: right; text-align: right; margin-right: 5px; }
  #home_link { border-style: none; background-color: transparent; color: rgb(255, 255, 255); }
  #topAdContainer { margin-bottom: 2px; width: 990px; height: 110px; background-color: rgb(255, 255, 255); }
  #ad_728_head { width: 750px; float: left; height: 110px; }
  #intCast_Container { border: 1px solid rgb(0, 0, 0); width: 235px; float: right; height: 110px; }
  #intCast_head1 { width: 235px; height: 110px; float: right; background-color: rgb(0, 0, 162); color: rgb(0, 0, 0); font-size: 11px; font-family: Arial,helvetica; }
  #intCast_head2 { width: 235px; height: 110px; float: right; background-color: rgb(0, 0, 162); color: rgb(0, 0, 0); margin-top: -110px; visibility: hidden; font-size: 11px; font-family: Arial,helvetica; }
  #intCast_head3 { width: 235px; height: 110px; float: right; background-color: rgb(0, 0, 162); color: rgb(0, 0, 0); margin-top: -110px; visibility: hidden; font-size: 11px; font-family: Arial,helvetica; }
  .intCastHeader { padding: 2px; background-color: rgb(162, 162, 242); font-size: 11px; }
  .intCastCity { margin: 5px 5px 0px; float: left; text-align: left; color: White; }
  .intCastHigh { margin: 5px 5px 0px; float: right; width: 38px; text-align: left; color: White; }
  .intCastLow { margin: 5px 5px 0px; float: right; width: 38px; text-align: left; color: White; }
  .intCastIconBox { margin: 1px 0px 0px; float: right; width: 28px; height: 30px; }
  .intCastIcon { border-style: none; }
  a.intcastLink:link, a.intcastLink:active, a.intcastLink:visited, a.intcastLink:hover { color: rgb(255, 255, 255); }
  #brand_container { height: 75px; width: 990px; }
  #brand_overlay { float: left; width: 450px; height: 50px; }
  #img_logo_overlay { border-style: none; width: 450px; height: 50px; }
  #brand_subscriptionlinks { padding: 50px 0px 5px; color: rgb(255, 255, 255); float: right; width: 500px; margin-right: 10px; text-align: right; }
  a.brand_link:link, a.brand_link:active, a.brand_link:visited, a.brand_link:hover { margin: 0px 5px; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); }
  #searchnav_container { border-top: 1px solid rgb(255, 255, 255); background: transparent url('canada_nav_bg.gif') repeat-x scroll 0% 0%; position: relative; z-index: 50; height: 34px; width: 990px; color: rgb(255, 255, 255); font-weight: bold; font-size: 11px; }
  #localwxform { margin: 6px 4px 0px 0px; }
  #zipcode_form_input { border: 0px none ; padding: 2px 0px 0px 2px; color: rgb(153, 0, 0); font-family: arial,helvetica,verdana,sans-serif; font-size: 11px; font-weight: bold; text-indent: 2px; height: 18px; width: 135px; vertical-align: middle; }
  #zipcode_form_button { color: rgb(51, 0, 0); font-family: arial,helvetica,verdana,sans-serif; font-size: 10px; font-weight: bold; width: 30px; vertical-align: middle; }
  a.searchnav_link:link, a.searchnav_link:active, a.searchnav_link:visited, a.searchnav_link:hover { font-weight: bold; color: rgb(255, 255, 255); }
  #searchnav_airport { margin-left: 45px; }
  #searchnav_radar { margin-left: 45px; }
  #searchnav_world { margin-left: 90px; }
  #navigation_container { border-top: 1px solid rgb(255, 255, 255); background: rgb(114, 100, 100) none repeat scroll 0% 0%; position: relative; z-index: 10; height: 26px; width: 990px; text-align: left; }
  #navbar_feature { width: 250px; float: left; margin-top: 6px; font-family: arial,helvetica,verdana,sans-serif; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); text-transform: uppercase; }
  #nav_link_featured { color: rgb(255, 249, 88); margin-left: 5px; font-weight: bold; }
  #popupLookupBox { border: 1px solid rgb(0, 0, 0); background: rgb(242, 242, 242) none repeat scroll 0% 0%; width: 250px; height: 75px; color: rgb(0, 0, 0); visibility: hidden; position: absolute; top: 15px; left: -1px; z-index: 10001; }
  #popupLookupBox2 { border: 1px solid rgb(0, 0, 0); background: rgb(242, 242, 242) none repeat scroll 0% 0%; width: 250px; height: 75px; color: rgb(0, 0, 0); visibility: hidden; position: absolute; top: 15px; left: -1px; z-index: 10001; }
  #popupLookupBox3 { border: 1px solid rgb(0, 0, 0); background: rgb(242, 242, 242) none repeat scroll 0% 0%; width: 250px; height: 75px; color: rgb(0, 0, 0); visibility: hidden; position: absolute; top: 15px; left: -1px; z-index: 10001; }
  #popupLookupBox1 { border: 1px solid rgb(0, 0, 0); background: rgb(242, 242, 242) none repeat scroll 0% 0%; width: 250px; height: 75px; color: rgb(0, 0, 0); visibility: hidden; position: absolute; top: 15px; left: -170px; z-index: 10001; }
  #content_container_3col160 { padding: 5px 0px 20px; background: rgb(255, 255, 255) url('bg_page_dividers_640160.gif') repeat-y scroll 0% 0%; overflow: hidden; width: 990px; }
  #content_container_3col { padding: 5px 0px 20px; background: rgb(255, 255, 255) url('bg_page_dividers.gif') repeat-y scroll 0% 0%; overflow: hidden; width: 990px; }
  #content_container_3colblog { padding: 5px 0px 20px; background: rgb(255, 255, 255) url('bg_page_dividers_blog.gif') repeat-y scroll 0% 0%; overflow: hidden; width: 990px; }
  #content_container_3colblog { padding: 5px 0px 20px; background: rgb(255, 255, 255) url('bg_page_dividers_blog.gif') repeat-y scroll 0% 0%; overflow: hidden; width: 990px; }
  #content_container_2col660 { padding: 5px 0px 20px; background: rgb(255, 255, 255) url('bg_page_dividers_640300.gif') repeat-y scroll 0% 0%; overflow: hidden; width: 990px; }
  #borderRemove { background: rgb(255, 255, 255) url('bg_page_enddividers.gif') repeat-y scroll 0% 0%; overflow: hidden; width: 990px; height: 10px; }
  #content_container_2col660 { padding: 5px 0px 20px; background: rgb(255, 255, 255) url('bg_page_dividers_640300.gif') repeat-y scroll 0% 0%; overflow: hidden; width: 990px; }
  #content_column_205 { margin: 0px 5px 5px; overflow: hidden; width: 205px; float: left; }
  #content_column_215 { margin: 0px 5px 5px; overflow: hidden; width: 215px; float: left; }
  #content_column_435 { margin: 0px 5px 5px 10px; overflow: hidden; width: 435px; float: left; }
  #content_column_575 { margin: 0px 5px 5px 0px; overflow: hidden; width: 575px; float: left; }
  #content_column_660 { margin: 0px 5px 5px; overflow: hidden; width: 660px; float: left; }
  #content_column_160right { margin: 0px 5px 5px; width: 160px; float: right; }
  #content_column_300right { margin: 0px 5px 5px; width: 300px; float: right; }
  .legaltext { font-size: 8pt; font-weight: bold; color: rgb(0, 0, 0); text-decoration: none; }
  .textxxxlarge { font-size: 22px; font-weight: normal; }
  .textxxlarge { font-size: 20px; font-weight: normal; }
  .textxlarge { font-size: 18px; font-weight: normal; }
  .textlarge { font-size: 16px; font-weight: normal; }
  .textmed { font-size: 14px; font-weight: normal; }
  .textbold { font-size: 12px; font-weight: bold; }
  .textsmall { font-size: 11px; font-weight: normal; }
  .textxsmall { font-size: 10px; font-weight: normal; }
  .textxxsmall { font-size: 8px; font-weight: normal; }
  .textxxxsmall { font-size: 6px; font-weight: normal; }
  .textxxxlargebold { font-size: 22px; font-weight: bold; }
  .textxxlargebold { font-size: 20px; font-weight: bold; }
  .textxlargebold { font-size: 18px; font-weight: bold; }
  .textlargebold { font-size: 16px; font-weight: bold; }
  .textmedbold { font-size: 14px; font-weight: bold; }
  .textsmallbold { font-size: 11px; font-weight: bold; }
  .textsmallitalic { font-size: 11px; font-style: italic; }
  .textxsmallbold { font-size: 10px; font-weight: bold; }
  .textxxsmallbold { font-size: 8px; font-weight: bold; }
  .textxxxsmallbold { font-size: 6px; font-weight: bold; }
  .textxsmallred { font-size: 10px; color: rgb(153, 0, 0); }
  .textxsmallblue { font-size: 10px; color: rgb(0, 0, 153); }
  .textxsmallgreen { font-size: 10px; color: rgb(0, 102, 0); }
  .textsmallred { font-size: 11px; color: rgb(153, 0, 0); }
  .textsmallblue { font-size: 11px; color: rgb(0, 0, 153); }
  .textsmallwhite { font-size: 11px; color: rgb(255, 255, 255); }
  .textsmallboldred { font-size: 11px; font-weight: bold; color: rgb(153, 0, 0); }
  .textsmallboldblue { font-size: 11px; font-weight: bold; color: rgb(0, 0, 153); }
  .textsmallboldwhite { font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); }
  .textmedred { font-size: 14px; color: rgb(153, 0, 0); }
  .textmedblue { font-size: 14px; color: rgb(0, 0, 153); }
  .textmedwhite { font-size: 14px; color: rgb(255, 255, 255); }
  .textmedboldred { font-size: 14px; font-weight: bold; color: rgb(153, 0, 0); }
  .textmedboldblue { font-size: 14px; font-weight: bold; color: rgb(0, 0, 153); }
  .textmedboldwhite { font-size: 14px; font-weight: bold; color: rgb(255, 255, 255); }
  .textlargered { font-size: 16px; color: rgb(153, 0, 0); }
  .textlargeblue { font-size: 16px; color: rgb(0, 0, 153); }
  .textlargewhite { font-size: 16px; color: rgb(255, 255, 255); }
  .textlargeboldred { font-size: 16px; font-weight: bold; color: rgb(153, 0, 0); }
  .textlargeboldblue { font-size: 16px; font-weight: bold; color: rgb(0, 0, 153); }
  .textlargeboldwhite { font-size: 16px; font-weight: bold; color: rgb(255, 255, 255); }
  .promotextsmall { font-size: 10px; color: rgb(201, 110, 0); }
  .promotextsmallbold { font-size: 10px; font-weight: bold; color: rgb(201, 110, 0); }
  .headlinetext { font-family: arial,helvetica; font-size: 10px; line-height: 12px; font-weight: bold; }
  .promoheadline { color: rgb(201, 110, 0); font-family: arial,helvetica; font-size: 11px; line-height: 12px; margin-bottom: 5px; display: block; font-weight: bold; }
  .form { margin: 10px 5px 5px 10px; }
  .ad_728 { background-color: rgb(255, 255, 255); width: 990px; }
  .ad_300 { background-color: rgb(255, 255, 255); width: 300px; text-align: right; }
  .ad_label_horz { margin: 0px 5px 2px 0px; text-align: right; }
  .ad_label_vert { margin: 4px 0px 0px 6px; width: 5px; height: 70px; float: left; }
  .ad_728_img { padding-left: 2px; padding-top: 4px; width: 729px; height: 90px; }
  .ad_728 { float: left; padding-left: 2px; padding-top: 4px; width: 729px; height: 90px; }
  .ad_300_img { width: 70px; height: 5px; }
  #ad_728_foot { padding: 15px 0px; background: rgb(255, 255, 255) url('rule_horz.gif') repeat-x scroll center top; clear: both; }
  #foot_header_bar { border-right: 1px solid rgb(93, 93, 93); border-bottom: 1px solid rgb(93, 93, 93); background: rgb(190, 190, 190) none repeat scroll 0% 0%; height: 24px; width: 990px; }
  .foot_header_text { font-size: 12px; font-weight: bold; padding-left: 10px; padding-top: 6px; }
  #directory_container { overflow: hidden; background-color: rgb(234, 234, 234); padding-top: 10px; width: 990px; }
  .directory_column { background: transparent url(http://vortex.accuweather.com/adc2004/pub/images/2006/rule_vert.gif) repeat-y scroll 0% 0%; float: left; height: 180px; left: 0px; margin-bottom: 10px; padding-left: 10px; padding-right: 10px; }
  #directory_column_first { background-image: none; }
  .directory_head { font-size: 12px; font-weight: bold; }
  .directory_text { font-size: 9px; line-height: 13px; }
  a.foot_nav_link:link, a.foot_nav_link:active, a.foot_nav_link:visited, a.foot_nav_link:hover { display: block; }
  #bottom_nav { border-top: 1px solid rgb(255, 255, 255); background: transparent url(http://vortex.accuweather.com/adc2004/pub/images/backgrounds/canada_nav_bg.gif) repeat-x scroll 0% 0%; clear: both; height: 26px; padding-top: 2px; width: 990px; text-indent: 10px; }
  a.bottom_nav_link:link, a.bottom_nav_link:active, a.bottom_nav_link:visited, a.bottom_nav_link:hover { margin: 0px 10px 0px 0px; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); }
  #copyright_container { border-top: 1px solid rgb(255, 255, 255); background: rgb(229, 229, 229) none repeat scroll 0% 0%; height: 90px; width: 990px; }
  #copyright_left { margin: 10px; background: rgb(229, 229, 229) none repeat scroll 0% 0%; float: left; }
  #copyright_right { margin: 10px; float: right; font-size: 11px; font-weight: bold; }
  .img_copyright_button { border-style: none; margin-right: 5px; }
  #button_rss_3D { width: 24px; height: 11px; }
  #button_podcast_3D { width: 54px; height: 11px; }
  #button_blog_3D { width: 35px; height: 11px; }
  #text_copyright_awx { margin: 0px; font-size: 11px; font-weight: bold; }
  #text_copyright { margin: 0px; font-size: 11px; }
  #text_subscriber { margin: 0px 0px 4px; font-size: 11px; font-weight: bold; }
  #text_nonmember { margin: 0px 0px 4px; font-size: 11px; font-weight: bold; }
  #links_rss_pod_blog { margin: 0px; font-size: 11px; font-weight: bold; }
  #location_matches { padding-left: 5px; }
  #airport_matches { padding-left: 5px; }
  #newloc { margin-top: 10px; }
  #newlocbox { padding-left: 5px; }
  #intloc { margin-top: 10px; }
  #intlocbox { padding-left: 5px; }
  #canloc { margin-top: 10px; }
  #canlocbox { padding-left: 5px; }
}

/* ::::: http://vortex.accuweather.com/adc2004/pub/css/2006/adc_canada_general.css ::::: */

b { font-weight: bold; font-size: 11px; }
strong { font-weight: bolder; font-size: 11px; }
#content_box_headlines { overflow: auto; height: 150px; position: absolute; left: 0px; top: 48px; display: block; z-index: 1; }
.liHeadlines { line-height: 12px; margin-bottom: 2px; }
#content_box_blogs { overflow: auto; height: 150px; position: absolute; left: 0px; top: 48px; display: none; z-index: 1; }
a.news_headline:link, a.news_headline:active, a.news_headline:visited { border-bottom: 1px solid rgb(194, 194, 194); font-size: 11px; line-height: 15px; font-weight: bold; text-decoration: none; color: rgb(0, 0, 0); }
a.news_headline:hover { border-bottom: 1px solid rgb(194, 194, 194); font-size: 11px; line-height: 15px; font-weight: bold; color: rgb(0, 0, 255); }
#headline_box { float: left; width: 100px; text-align: center; }
#blog_box { float: right; width: 100px; text-align: center; }
#content_headlines_list { margin-left: 10px; padding-left: 10px; margin-top: 3px; }
#content_blog_list { margin-left: 10px; padding-left: 10px; margin-top: 3px; }
#content_blog_list2 { margin-left: 10px; padding-left: 10px; }
.newsBar { color: rgb(255, 255, 255); display: block; float: left; height: 17px; padding-top: 2px; text-align: center; font-size: 11px; font-weight: bold; }
.content_box_200 { width: 205px; position: relative; z-index: 1; }
.content_box_200header { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 204px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_200body { border: 1px solid rgb(102, 102, 102); width: 203px; background-color: rgb(255, 255, 255); }
.content_box_200bluenavbar { border-style: solid; border-color: rgb(255, 255, 255) rgb(177, 176, 171); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 20px; width: 203px; }
.content_box_300 { width: 300px; position: relative; }
.content_box_300header { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 299px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_300body { width: 298px; background-color: rgb(255, 255, 255); }
.content_box_435 { width: 435px; position: relative; }
.content_box_435header { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 434px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_435body { border: 1px solid rgb(102, 102, 102); width: 433px; background-color: rgb(255, 255, 255); }
.content_box_435bluenavbar { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 18px; width: 433px; }
.content_box_435rednavbar { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_red_nav.gif') repeat scroll 0% 0%; height: 18px; width: 433px; }
.content_box_575 { width: 575px; position: relative; }
.content_box_575header { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 574px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_575body { border: 1px solid rgb(102, 102, 102); width: 573px; background-color: rgb(255, 255, 255); }
.content_box_575bluenavbar { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 18px; width: 433px; }
.content_box_660 { width: 660px; position: relative; }
.content_box_660header { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 659px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_660body { border: 1px solid rgb(102, 102, 102); width: 658px; background-color: rgb(255, 255, 255); }
.content_box_660bluenavbar { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 18px; width: 658px; }
.content_box_660_prem_top { width: 660px; position: relative; }
.content_box_660header_prem_top { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 659px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_660body_prem_top { border: 1px solid rgb(102, 102, 102); width: 658px; height: 500px; background-color: rgb(241, 240, 236); }
.content_box_660bluenavbar_prem_top { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 18px; width: 658px; }
.content_box_660_prem_bottom { width: 660px; position: relative; }
.content_box_660header_prem_bottom { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 659px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_660body_prem_bottom { border: 1px solid rgb(102, 102, 102); width: 658px; height: 715px; background-color: rgb(241, 240, 236); }
.content_box_660bluenavbar_prem_bottom { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 18px; width: 658px; }
.content_box_660_prem_login { width: 660px; position: relative; }
.content_box_660header_prem_login { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 659px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_660body_prem_login { border: 1px solid rgb(102, 102, 102); width: 658px; height: 350px; background-color: rgb(241, 240, 236); }
.content_box_660bluenavbar_prem_login { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 18px; width: 658px; }
.content_box_660_prem_details { width: 660px; position: relative; }
.content_box_660header_prem_details { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 659px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
.content_box_660body_prem_details { border: 1px solid rgb(102, 102, 102); width: 658px; height: 885px; background-color: rgb(241, 240, 236); }
.content_box_660bluenavbar_prem_details { border-style: solid; border-color: rgb(255, 255, 255) rgb(153, 153, 153) rgb(153, 153, 153); border-width: 1px; background: transparent url('bg_blue_nav.gif') repeat scroll 0% 0%; height: 18px; width: 658px; }
.content_box_header_text { color: rgb(42, 42, 42); font-size: 16px; font-weight: bold; text-indent: 5px; padding-top: 5px; }
.content_box_bodytext { padding: 5px 5px 10px; font-size: 11px; }
.bottom_content_links { margin: 20px 0px; width: 100%; text-align: center; }
.alertbar { background: rgb(150, 0, 0) url('bg_alert_nav.gif') repeat scroll 0% 0%; height: 24px; width: 435px; text-align: center; }
a.alertbar_text:link, a.alertbar_text:active, a.alertbar_text:visited, a.alertbar_text:hover { display: block; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; padding-top: 4px; }
a.content_box_bodylink:link, a.content_box_bodylink:active, a.content_box_bodylink:visited, a.content_box_bodylink:hover { margin: 5px; display: block; font-size: 11px; font-weight: bold; }
a.content_box_bodylinkinline:link, a.content_box_bodylinkinline:active, a.content_box_bodylinkinline:visited, a.content_box_bodylinkinline:hover { font-size: 11px; }
a.content_box_navbutton:link, a.content_box_navbutton:visited { background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: block; float: left; height: 18px; padding-top: 2px; text-align: center; font-size: 11px; font-weight: bold; }
a.content_box_navbutton:hover { background: transparent url('bg_red_nav.gif') repeat scroll center bottom; color: rgb(255, 255, 255); display: block; float: left; height: 18px; padding-top: 2px; text-align: center; font-size: 11px; font-weight: bold; }
a.content_box_bluenavbutton:link, a.content_box_bluenavbutton:visited, a.content_box_bluenavbutton:hover { color: rgb(255, 255, 255); display: block; float: left; height: 17px; padding-top: 2px; text-align: center; font-size: 11px; font-weight: bold; }
a.content_box_rednavbutton:link, a.content_box_rednavbutton:visited, a.content_box_rednavbutton:hover { background: transparent url('bg_red_nav.gif') repeat scroll 0% 0%; color: rgb(255, 255, 255); display: block; float: left; height: 17px; padding-top: 2px; text-align: center; font-size: 11px; font-weight: bold; }
.imgRelatedItemThumb { border-style: none; width: 100px; height: 75px; }
.photowidget1_inner_wrapper { margin: 0px 5px 5px; font-size: 11px; font-weight: normal; text-align: left; }
.photowidget1_dynamic_container { float: left; width: 78px; margin-right: 10px; }
.photowidget1_img { border: 1px solid rgb(0, 0, 0); width: 75px; height: 75px; }
.photowidget1_caption { overflow: hidden; width: 100%; font-size: 9px; font-style: italic; font-weight: normal; text-align: center; }
.photowidget2_body { border-style: solid; border-color: rgb(177, 176, 171); border-width: 0px 1px 1px; padding: 9px 10px 5px 5px; background: rgb(241, 240, 236) url('background.gif') repeat-y scroll 0% 0%; height: 146px; }
.photowidget2_panel_a { float: left; width: 101px; height: 146px; }
.photowidget2_panel_b { float: left; width: 16px; height: 146px; }
.photowidget2_panel_c { float: left; width: 21px; height: 146px; }
.photowidget2_panel_d { float: left; width: 178px; height: 146px; text-align: left; }
.photowidget2_subtitle { margin-bottom: 18px; font-size: 12px; font-weight: bold; line-height: 100%; }
.photowidget2_paragraph { margin-bottom: 18px; font-size: 11px; line-height: 14px; }
.photowidget2_link { font-size: 11px; }
.photowidget2_img_surround { width: 101px; float: left; text-align: center; }
.photowidget2_img { border: 1px solid rgb(0, 0, 0); }
.photowidget2_caption { overflow: hidden; float: left; width: 101px; height: 42px; text-align: center; line-height: 14px; }
.photowidget2_user { font-size: 10px; font-style: italic; }
.photowidget2_title { font-size: 11px; font-weight: bold; }
.photowidget3_dynamic_container { border-style: solid; border-color: rgb(177, 176, 171); border-width: 0px 1px 1px; padding: 10px 0px 5px; background: rgb(241, 240, 236) none repeat scroll 0% 0%; float: left; text-align: center; }
.photowidget3_surround { float: left; }
.photowidget3_surr_photo { width: 144px; float: left; text-align: center; }
.photowidget3_surr_user { padding: 3px 0px; overflow: hidden; width: 124px; float: left; text-align: center; font-size: 10px; font-style: italic; line-height: 100%; }
.photowidget3_surr_title { overflow: hidden; width: 124px; float: left; text-align: center; font-size: 11px; font-weight: bold; line-height: 100%; }
.photowidget3_img { border: 1px solid rgb(0, 0, 0); }
.photowidget3_links { font-size: 11px; font-weight: bold; text-align: center; }
.photowidget3_spacer10 { background: transparent none repeat scroll 0% 0%; width: 10px; float: left; line-height: 100%; }
.photowidget3_spacer20 { background: transparent none repeat scroll 0% 0%; width: 20px; float: left; line-height: 100%; }

/* ::::: http://vortex.accuweather.com/adc2004/pub/css/2006/adc_canada_ads.css ::::: */

@media all {
  .content_box_640 { width: 640px; }
  .content_box_860 { width: 980px; }
  .content_box_640header { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 640px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
  .content_box_860header { border-style: solid; border-color: rgb(102, 102, 102); border-width: 0px 1px 1px 0px; width: 980px; height: 25px; background-color: rgb(190, 190, 190); font-family: arial,verdana,helvetica,sans-serif; font-size: 11pt; font-weight: bold; text-indent: 10px; }
  .content_box_640body { width: 639px; background-color: rgb(255, 255, 255); }
  .content_box_860body { width: 979px; background-color: rgb(255, 255, 255); }
  #content_box_300body_adsbygoogle { border: 1px solid rgb(102, 102, 102); background-color: rgb(241, 240, 236); }
  #content_box_300body_adsspecialoffers { border: 1px solid rgb(102, 102, 102); background-color: rgb(241, 240, 236); }
  #content_box_300body_sponsoredoffers { border: 1px solid rgb(102, 102, 102); background-color: rgb(241, 240, 236); }
  .content_box_sponsoredoffer_bodytext { margin: 5px; font-size: 11px; font-family: arial; font-weight: normal; line-height: 14px; padding-bottom: 5px; }
  #content_box_640body_adsbygoogle { border: 1px solid rgb(102, 102, 102); background-color: rgb(241, 240, 236); }
  #content_box_860body_adsbygoogle { border: 1px solid rgb(102, 102, 102); background-color: rgb(241, 240, 236); }
  .content_box_googletextadblock { margin: 5px; font-size: 11px; font-weight: bold; line-height: 12px; }
  .content_box_sponsoredoffer { margin: 5px; padding-bottom: 5px; }
  a.google_textad:link, a.google_textad:active, a.google_textad:visited { font-size: 11px; font-weight: bold; line-height: 12px; display: block; }
  a.google_textad:hover { color: rgb(234, 110, 0); }
  a.google_ref:link, a.google_ref:active, a.google_ref:visited, a.google_ref:hover { color: rgb(53, 134, 207); font-weight: bold; line-height: 12px; text-decoration: none; display: block; }
  a.specialoffer_textad:link, a.specialoffer_textad:active, a.specialoffer_textad:visited { margin: 10px; font-weight: bold; font-size: 11px; line-height: 12px; display: block; }
  a.specialoffer_textad:hover { color: rgb(234, 110, 0); }
  a.content_box_sponsoredad_textad:link, a.content_box_sponsoredad_textad:active, a.content_box_sponsoredad_textad:visited { margin: 5px; font-size: 11px; font-family: arial; font-weight: bold; line-height: 12px; display: block; }
  a.content_box_sponsoredad_textad:hover { color: rgb(234, 110, 0); }
  a.content_box_sponsoredadinline:link, a.content_box_sponsoredadinline:active, a.content_box_sponsoredadinline:visited { font-size: 11px; font-weight: bold; }
  a.content_box_sponsoredadinline:hover { color: rgb(234, 110, 0); }
  .img_sponsor_left { float: left; margin-right: 5px; }
  #img_sponsor_offer1 { width: 110px; height: 60px; }
  #img_sponsor_offer_hd { border: 1px solid rgb(102, 102, 102); width: 110px; height: 60px; }
  #img_sponsor_offer_dell { width: 100px; height: 60px; }
  #img_sponsor_offer_120 { width: 120px; height: 60px; }
  #img_sponsor_offer_88 { width: 88px; height: 31px; }
  #img_sponsor_offer_border120 { border: 1px solid rgb(102, 102, 102); width: 120px; height: 60px; }
}

/* ::::: http://vortex.accuweather.com/adc2004/pub/css/2006/adc_canada_promo.css ::::: */

@media all {
  #content_box_200body_commercial { border: 1px solid rgb(102, 102, 102); width: 203px; background-color: rgb(241, 240, 236); }
  .content_box_200body_special { border: 1px solid rgb(102, 102, 102); margin-top: 10px; margin-bottom: 10px; width: 203px; background-color: rgb(241, 240, 236); }
  #content_left200_video { margin-top: 10px; }
  #content_left200_commercial { margin-top: 10px; }
  #content_left200_specialfeatures { margin-top: 10px; }
  #content_box_300body_consumerlinks { padding: 5px 0px 5px 5px; width: 120px; height: 100%; float: left; }
  #content_box_300body_consumerjoeb { margin: 0px; width: 165px; height: 100%; float: right; padding-left: 5px; background-color: rgb(222, 222, 219); }
  #content_right300_consumer { margin-top: 10px; }
  #content_box_300body_consumer { background-color: rgb(241, 240, 236); height: 210px; }
  #content_box_prem_compmatrix { border: 1px solid rgb(102, 102, 102); margin: 20px 10px 10px; width: 630px; height: 625px; padding-top: 10px; background-color: rgb(255, 255, 255); }
  #content_box_prem_innermatrix { border-right: thin dashed rgb(153, 153, 153); width: 208px; height: 30px; text-align: center; float: left; vertical-align: bottom; }
  #content_box_prem_innermatrix_noborder { width: 208px; height: 30px; text-align: center; float: left; vertical-align: bottom; }
  #content_box_200_videolauncher { display: block; height: 122px; }
  #content_box_200body_videolauncher { background: rgb(241, 240, 236) url('video_launch_linkbg.jpg') repeat-x scroll left top; overflow: auto; height: 95px; }
  #img_video_launcher { border-style: none; width: 205px; height: 122px; }
  .videolink { border-style: solid; border-color: rgb(158, 158, 155); border-width: 1px 0px 0px; margin: 0px 0px 0px 2px; padding: 3px 0px; width: 170px; }
  #videolinkfirst { border-style: none; }
  .img_video_launcher_link { border-style: none; width: 11px; height: 7px; vertical-align: middle; }
  .content_box_promoheading { padding: 5px; font-size: 12px; font-weight: bold; text-transform: uppercase; }
  .content_box_promoheading_mixcase { padding: 5px; font-size: 12px; font-weight: bold; }
  #content_box_headlines { overflow: auto; height: 150px; }
  #content_box_rednavbtn_headlines { border-style: solid; border-color: rgb(255, 255, 255); border-width: 0px 1px 0px 0px; width: 97px; }
  #content_box_bluenavbtn_headlines { width: 97px; }
  .content_box_photocaption { width: 100%; font-style: italic; font-weight: normal; padding-top: 5px; text-align: center; }
  #content_productbar_commercial { margin: 0px 0px 1px 2px; }
  #button_rss { margin: 0px; width: 80px; height: 15px; }
  #img_heading_video { width: 203px; height: 70px; }
  #img_heading_commercial { width: 199px; height: 126px; }
  .img_promopic_left { border: 1px solid rgb(0, 0, 0); float: left; margin-right: 7px; }
  .img_promopic_right { border: 1px solid rgb(0, 0, 0); float: right; margin-left: 7px; }
  .img_promopic_center { border: 0px solid rgb(0, 0, 0); display: block; width: 101px; height: 77px; margin-left: 45px; }
  #img_promopic_kate { width: 78px; height: 78px; }
  #img_promopic_wxevent { width: 78px; height: 78px; }
  #img_promopic_joeb { width: 145px; height: 70px; display: block; margin-left: 5px; }
  a.content_box_promolink:link, a.content_box_promolink:active, a.content_box_promolink:visited { margin: 5px; display: block; font-size: 11px; font-weight: bold; }
  a.content_box_promolink:hover { color: rgb(234, 110, 0); }
  a.content_box_promolinkinline:link, a.content_box_promolinkinline:active, a.content_box_promolinkinline:visited { font-size: 11px; }
  a.content_box_promolinkinline:hover { color: rgb(234, 110, 0); }
  a.content_video_link:link, a.content_video_link:active, a.content_video_link:visited, a.content_video_link:hover { padding: 5px 0px; font-size: 11px; font-weight: bold; margin-left: 5px; width: 150px; }
  .partnerSignupHeader { border-bottom: 1px solid rgb(51, 102, 153); font-size: 26px; font-weight: bold; color: rgb(51, 102, 153); width: 620px; line-height: 30px; margin-bottom: 10px; font-family: Arial,Helvetica,Sans-Serif,Verdana; }
  #partnerSignupText { font-size: 11px; padding-left: 15px; padding-right: 15px; margin-top: 10px; margin-bottom: 10px; }
  .partnerSignupLink { border-style: none; padding-right: 20px; width: 155px; height: 36px; display: inline; }
  .partnerAnchor { margin-right: 20px; }
  #existpart { border-bottom: 1px dotted black; margin-top: 10px; text-align: center; margin-bottom: 10px; width: 620px; }
  #partnerships { background-color: rgb(241, 240, 236); }
  #bannerImage { border-style: none; width: 570px; height: 180px; margin-top: 5px; margin-bottom: 5px; display: block; }
  #signupForm { width: 610px; margin-left: auto; margin-right: auto; text-align: center; }
  #signupTnC { border: 1px solid rgb(0, 0, 0); overflow: auto; width: 550px; height: 250px; background-color: rgb(255, 255, 255); margin-bottom: 10px; margin-left: auto; margin-right: auto; text-align: center; }
  .signupTerm { width: 520px; margin-left: 10px; margin-right: 10px; text-indent: 15px; text-align: left; margin-bottom: 10px; }
  #premiumloginleft { border-right: thin dashed rgb(153, 153, 153); width: 328px; float: left; margin-top: 50px; text-align: center; }
  #premiumloginright { width: 328px; float: left; margin-top: 50px; text-align: center; padding-top: 25px; }
  #premiumdetailsleft { width: 415px; float: left; margin-top: 10px; padding-left: 5px; }
  #premiumdetailsright { width: 220px; float: left; margin-top: 10px; padding-left: 5px; padding-right: 3px; }
  #signupform { padding-bottom: 15px; float: left; text-align: left; }
  #signupclear { clear: both; }
  #premiumUpSaleBox { width: 435px; height: 50px; margin-top: 10px; }
  #premiumUpSaleLeft { float: left; width: 54px; height: 50px; }
  #premiumUpSaleLogo { border-style: none; width: 54px; height: 50px; }
  #premiumUpSaleRight { padding: 5px; float: right; width: 371px; height: 40px; background-image: url('premium_background.jpg'); }
  #preiumUpSaleText { font-family: arial,helvetica; font-size: 11px; line-height: 13px; }
  #wirelessUpSaleBox { width: 435px; height: 50px; margin-top: 10px; }
  #wirelessUpSaleLeft { float: left; width: 22px; height: 50px; }
  #wirelessUpSaleLogo { border-style: none; width: 22px; height: 50px; margin-left: 15px; }
  #wirelessUpSaleRight { padding: 5px; float: right; width: 371px; height: 40px; background-image: url('wireless_background.gif'); }
  #preiumUpSaleText { font-family: arial,helvetica; font-size: 11px; line-height: 13px; }
  .wxportimg { border: 1px solid rgb(0, 0, 0); margin-bottom: 7px; height: 73px; width: 232px; }
  .wxportleft { font-size: 11px; font-family: Arial,Helvetica,Verdana,Sans-Serif; float: left; width: 160px; text-align: left; margin-left: 5px; padding-top: 5px; padding-bottom: 5px; }
  .wxportright { font-size: 11px; font-family: Arial,Helvetica,Verdana,Sans-Serif; float: right; width: 250px; text-align: center; padding-top: 5px; padding-bottom: 5px; }
  #wxportPromoBox { background-color: rgb(243, 243, 241); text-align: center; }
  #wxportpromo { margin-top: 5px; }
}

/* ::::: http://vortex.accuweather.com/adc2004/pub/css/2006/adc_canada_print.css ::::: */

@media print {
  body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  a { text-decoration: underline; color: rgb(0, 0, 255); }
  #content_container_3col { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_container_3col160 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_container_3col { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_container_3colblog { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_container_2col660 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_column_205 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_column_215 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_column_435 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_column_575 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_column_660 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_column_160right { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #content_column_300right { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
  #menu, #topAdContainer, #searchnav_container, #navigation_container, #bottom_nav, #copyright_container, #ad_728_foot { display: none; }
}

/* ::::: http://vortex.accuweather.com/adc2004/pub/css/2006/adc_canada_index.css ::::: */

#canadian_radar { margin: 0px 17px; }
.content_box_435body { background-color: rgb(241, 240, 236); }
.radar_caption_font { font-family: Verdana; font-size: 11px; font-weight: bold; }
.link_text { font-family: Verdana; font-size: 11px; }
.home_content_body { border-style: solid; border-color: rgb(177, 176, 171); border-width: 0px 1px 1px; background-color: rgb(241, 240, 236); }
#content_box_435_why { margin: 5px 0px; }
#whySummaryNav { float: left; width: 85px; color: rgb(255, 255, 255); height: 20px; text-align: center; }
#whyHistoryNav { float: left; width: 85px; color: rgb(255, 255, 255); height: 20px; text-align: center; }
#whyInnovationNav { float: left; width: 85px; color: rgb(255, 255, 255); height: 20px; text-align: center; }
#whyAccuracyNav { float: left; width: 85px; color: rgb(255, 255, 255); height: 20px; text-align: center; }
#whyExpertiseNav { float: left; width: 85px; color: rgb(255, 255, 255); height: 20px; text-align: center; }
#whySummary { padding: 0px 0px 5px; text-align: left; }
#content_box_435_why { margin: 5px 0px; }
#content_box_435_wxhost { margin-top: 5px; }
.whyContent { padding: 0px 0px 5px; display: none; visibility: hidden; text-align: left; }
#content_box_435_natoverview { margin-top: 5px; }
#content_box_435body_natoverview { height: 465px; background-color: rgb(241, 240, 236); }
#nav_arrow_natoverview { left: 25px; top: 50px; }
#nav_arrow_why { left: 37px; top: 50px; }
.expert_text { padding: 10px 10px 0px; font-size: 12px; line-height: 16px; }
.expert_pic { padding-left: 10px; }
.expert_links { padding: 10px 0px 0px 10px; font-weight: bold; font-size: 12px; line-height: 16px; }

/* ::::: null ::::: */

#nav, #nav ul { margin: 0pt 0pt 1em; padding: 0pt; background: transparent none repeat scroll 0% 0%; float: left; list-style-type: none; list-style-image: none; list-style-position: outside; line-height: 1; font-weight: bold; }
#nav a { padding: 0.25em 0.65em; display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 8pt; }
#nav a.daddy { background: transparent url('arrow_nav_right_001.gif') no-repeat scroll right center; }
#nav li { padding: 0pt; float: left; text-align: center; }
#nav li ul { margin: 0pt; background: rgb(213, 213, 213) none repeat scroll 0% 0%; position: absolute; left: -999em; height: auto; font-weight: normal; z-index: 99; }
#nav li li { border-style: solid; border-color: rgb(211, 211, 211) rgb(131, 131, 131) rgb(87, 87, 87); border-width: 1px; text-align: left; text-indent: 5px; }
#nav li ul a { padding: 3px 0px; color: rgb(0, 0, 0); font-weight: bold; font-size: 8pt; }
#nav li ul ul { margin: -1.75em 0pt 0pt 14em; }
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul { left: -999em; }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul { left: auto; }
#nav li:hover, #nav li.sfhover { background: rgb(145, 145, 145) none repeat scroll 0% 0%; }
