
/* ::::: null ::::: */

body { margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: Arial,sans-serif; font-size: x-small; color: rgb(0, 0, 0); }
body > div { margin: 0px; padding: 0px; width: 100%; font-family: Arial,sans-serif; font-size: x-small; }
a { text-decoration: underline; color: rgb(0, 0, 0); }
a:link { color: rgb(0, 0, 0); }
a:visited { color: rgb(0, 0, 0); }
a:active { color: rgb(0, 0, 0); }
img { border: medium none ; }
p { margin: 5px 0px; padding: 0px; }
ul { margin: 0px; padding: 0px; list-style-type: none; list-style-image: none; list-style-position: outside; }
.ultc { list-style-type: disc; list-style-image: none; list-style-position: outside; margin-top: 0pt; margin-bottom: 0pt; margin-left: 25px; }
h1 { margin: 0px; padding: 4px 0px 4px 2px; background-color: rgb(0, 114, 188); color: rgb(255, 255, 255); font-weight: bold; font-size: x-small; font-family: Arial,sans-serif; font-style: normal; white-space: nowrap; }
h2 { margin: 0px; padding: 4px 0px 4px 2px; background-color: rgb(229, 229, 229); color: rgb(0, 0, 0); font-weight: bold; font-size: x-small; clear: both; font-family: Arial,sans-serif; font-style: normal; white-space: nowrap; }
h3 { margin: 0px; padding: 1px 0px; font-weight: bold; font-size: x-small; font-family: Arial,sans-serif; white-space: nowrap; font-style: normal; }
h4 { margin: 0px 0px 3px; padding: 0px; font-weight: bold; font-size: x-small; font-family: Arial,sans-serif; font-style: normal; white-space: nowrap; }
label { font-weight: bold; }
input { font-size: x-small; }
input[type="button"] { font-weight: bold; }
input[type="submit"] { font-weight: bold; }
input[type="text"] { width: 75%; }
input[type="checkbox"] { margin: 0px; padding: 0px; }
option { font-size: x-small; }
select { font-size: x-small; }
a.linkbu { color: rgb(0, 0, 153); font-weight: normal; text-decoration: underline; }
a.linkbu:link { color: rgb(0, 0, 153); }
a.linkbu:visited { color: rgb(0, 0, 153); }
a.linkbu:hover { color: rgb(204, 204, 204); background-color: rgb(0, 0, 255); }
a.linkbu:active { color: rgb(0, 0, 153); }
a.linkbold { color: rgb(0, 0, 0); font-weight: bold; text-decoration: underline; }
a.linkbold:link { color: rgb(0, 0, 0); font-weight: bold; }
a.linkbold:visited { color: rgb(0, 0, 0); font-weight: bold; }
a.linkbold:hover { color: rgb(0, 0, 0); font-weight: bold; }
a.linkbold:active { color: rgb(0, 0, 0); font-weight: bold; }
.con { margin: 5px 0px; padding: 5px 2px 5px 1px; font-family: Arial,sans-serif; font-size: x-small; }
.center { text-align: center; }
.bottomad { text-align: center; background-color: lightblue; }
.bold { font-weight: bold; }
.noul { text-decoration: none; }
.linebu { border-bottom: 1px solid rgb(0, 114, 188); margin: 0px 5px; padding: 0px; clear: both; }
.linebk { border-bottom: 1px solid rgb(0, 0, 0); margin: 0px 5px; padding: 0px; clear: both; }
.linebold { border-bottom: 2px solid rgb(0, 0, 0); margin: 0px 5px; padding: 0px; clear: both; }
.wxicon { width: 27px; }
.icon { width: 26px; height: 26px; }
.bullet { background-color: rgb(0, 114, 188); color: rgb(255, 255, 255); font-weight: bold; }
.home { margin-top: 3px; }
.inactive { color: rgb(96, 96, 96); }
#map { margin-top: 2px; text-align: center; margin-left: auto; margin-right: auto; display: block; }
#datalist, #datalist1, #datalist2 div { margin-top: 1px; font-weight: normal; }
#brand { border-bottom: 1px solid rgb(255, 255, 255); background-color: rgb(0, 54, 134); margin-left: auto; margin-right: auto; display: block; text-align: center; }
#partner { padding: 0px; text-align: center; margin-left: auto; margin-right: auto; display: block; }
#ad { padding: 5px 0px 7px; text-align: center; margin-left: auto; margin-right: auto; display: block; }
#ad a { color: rgb(0, 0, 153); }
#mainmenu div { margin-top: 3px; white-space: nowrap; }
#mainmenu2 div { margin-top: 3px; white-space: nowrap; }
#forecastmenu div { margin-top: 3px; white-space: nowrap; }
#footnav { color: rgb(0, 114, 188); font-weight: bold; }
#footnav a { font-weight: normal; }
#footeditions div { font-weight: normal; white-space: nowrap; }
#copy { text-align: center; margin-top: 10px; }
.alertbar { background: rgb(150, 0, 0) url('bg_alert_nav.gif') repeat scroll 0% 0%; height: 24px; text-align: center; }
p.alertbar_text, a.alertbar_text:link, a.alertbar_text:active, a.alertbar_text:visited, a.alertbar_text:hover { color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; padding-top: 4px; }
a.videoLink { color: rgb(255, 0, 0); }

/* ::::: null ::::: */

a.partnerlink_text:link, a.partnerlink_text:active, a.partnerlink_text:visited, a.partnerlink:hover { color: black; }
.partnerlink { text-align: left; }
