
/* ::::: http://us.geocities.com/js_source/div.css ::::: */

.y_gcss_ovrtr_au { border: 1px solid rgb(0, 0, 0); margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); visibility: visible; width: 195px; position: absolute; z-index: 2; top: 0px; }
.y_gcss_ovrtr_au_cbox { border-top: 1px solid rgb(204, 204, 204); margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); width: 175px; }
.y_gcss_ovrtr_msthd { border: 1px solid rgb(0, 0, 0); width: 195px; visibility: visible; background-color: rgb(255, 255, 255); position: absolute; z-index: 1; top: 0px; }
.y_gcss_ovrtr_cntr { margin: 0px; padding: 0px; visibility: visible; background-color: rgb(255, 255, 255); width: 195px; z-index: 0; top: 0px; float: right; }
