
/* ::::: http://us.i1.yimg.com/us.yimg.com/lib/smbiz/geo.1.7.2.5.css ::::: */

body { text-align: center; }
small { font-family: Verdana; font-size: 10px; }
.geohead { margin: 10px 0pt; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; width: 750px; height: 35px; }
.geohead #geologo { width: 270px; display: block; float: left; }
.geohead #rightside { border-bottom: 1px solid rgb(153, 153, 153); width: 480px; display: block; float: right; height: 27px; }
.geohead #rightside #welcome { width: 50%; display: block; float: left; text-align: left; }
.geohead #rightside #wlinks { width: 50%; display: block; float: right; text-align: right; }
.clearfix:after { content: "."; display: block; height: 0pt; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
#titlebar { margin: 10px 0pt 0pt; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; background-color: rgb(124, 86, 167); color: rgb(255, 255, 255); width: 750px; text-align: left; }
#titlebar #geoprod { margin: 0px; padding: 5px; width: 470px; float: left; }
#titlebar #mms { float: right; width: 260px; margin-top: 5px; padding-right: 5px; text-align: right; padding-bottom: 3px; }
.geohead_fm { margin: 10px 0pt; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; width: 100%; height: 35px; }
.geohead_fm #geologo { width: 270px; }
.geohead_fm #rightside { border-bottom: 1px solid rgb(153, 153, 153); width: 100%; height: 27px; }
.geohead_fm #rightside #welcome { width: 50%; display: block; float: left; text-align: left; }
.geohead_fm #rightside #wlinks { width: 50%; display: block; float: right; text-align: right; }
.titlebar_fm { margin: 10px 0pt 0pt; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; width: 100%; height: 34px; background-color: rgb(124, 86, 167); color: rgb(255, 255, 255); text-align: left; line-height: 34px; }
.titlebar_fm #geoprod { margin: 0pt 0pt 0pt 5px; display: block; width: 500px; float: left; }
.titlebar_fm #mms { margin: 5px 5px 0pt; display: block; width: 220px; float: right; text-align: right; }
.dsbox { background-color: rgb(236, 231, 243); width: 750px; height: 89px; margin-top: 2px; }
.dsbox #burst { margin-top: 0px; margin-left: 10px; }
.dsbox #offer { font-family: Arial,Helvetica,sans-serif; font-size: 14px; color: rgb(124, 86, 167); margin-left: 80px; padding-top: 20px; margin-bottom: 10px; text-align: left; }
.dsbox #dsform { font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-left: 80px; text-align: left; }
.nbbdsbox { background-color: rgb(236, 231, 243); width: 750px; height: 47px; margin-top: 2px; color: rgb(124, 86, 167); font-weight: bold; }
.nbbdsbox #offer { margin: 5px 0pt 5px 5px; font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-decoration: underline; text-align: left; float: left; display: block; width: 140px; }
.nbbdsbox #dsform { font-family: Arial,Helvetica,sans-serif; font-size: 12px; margin-right: 10px; margin-top: 5px; display: block; float: right; }
.modHeader .delmod { font-size: 11px; margin-left: 310px; }
#sa { font-size: 12px; font-weight: bold; }
#siteavail { font-size: 12px; font-weight: bold; }
#siteavailstat { color: rgb(0, 188, 32); }
#siteunavailstat { color: rgb(255, 0, 0); }
#whatsthis { font-size: 10px; font-weight: normal; }
.usagebar { border: 1px solid rgb(200, 200, 200); margin: 5px 0pt 0pt; padding: 0pt; width: 172px; height: 5px; line-height: 5px; font-size: 5px; }
.usagebar #line { margin: 0pt; padding: 0pt; background-color: rgb(255, 168, 0); height: 5px; line-height: 5px; font-size: 5px; }
.usagebar #limit { margin: 0pt; padding: 0pt; background-color: rgb(255, 0, 0); height: 5px; line-height: 5px; font-size: 5px; }
.alertpage { width: 750px; text-align: left; font-family: Arial; font-size: 13px; }
.alertpage h2 { font-family: Arial; font-size: 18px; }
.alertpage table { margin-top: 15px; margin-bottom: 15px; }
.alertpage ul { margin-left: 0px; padding-left: 20px; }
.alertpage td { font-family: Arial; font-size: 13px; }
.alertbox { padding: 1px; width: 550px; }
.alertbox .rbtop { background: transparent url('help_t.gif') repeat-x scroll 0% 0%; }
.alertbox .rbtop div { background: transparent url('whcp_help_tl_1.gif') no-repeat scroll left top; }
.alertbox .rbtop div div { background: transparent url('whcp_help_tr_1.gif') no-repeat scroll right top; }
.alertbox .rbbot { background: transparent url('whcp_help_b_1.gif') repeat-x scroll 0% 0%; margin-bottom: 10px; }
.alertbox .rbbot div { background: transparent url('whcp_help_bl_1.gif') no-repeat scroll left top; }
.alertbox .rbbot div div { background: transparent url('whcp_help_br_1.gif') no-repeat scroll right top; }
.alertbox .rbcontentwrap { background: transparent url('whcp_help_l_1.gif') repeat-y scroll 0% 0%; }
.alertbox .rbcontent { background: transparent url('whcp_help_r_1.gif') repeat-y scroll right center; }
.alertbox .rbcontent img { margin: 3px 0pt 10px; }
.alertbox .rbtop div, .alertbox .rbtop, .alertbox .rbbot div, .alertbox .rbbot { width: 100%; height: 3px; font-size: 1px; }
.alertbox .rbcontent { margin: 0pt 0pt 0pt 3px; padding: 5px 12px 15px 8px; font-family: Arial; font-size: 13px; background-color: rgb(240, 240, 240); }
.alertbox .rbroundbox { width: 540px; }
.alertbox .viewrt { width: 100%; text-align: right; font-size: 10px; padding-bottom: 3px; }
.alertbox p { margin: 10px 0pt 0pt; padding: 0pt; }
#alertico { margin-right: 10px; }
.alertbox #alertmsg { border-bottom: 1px solid rgb(153, 153, 153); width: 500px; display: block; float: right; height: auto; }
.alertextra { margin-top: 10px; }
#mainContainer { margin: 0pt auto; width: 750px; text-align: left; padding-top: 14px; }
#mainContainer_fm { margin: 0pt auto; width: 100%; text-align: left; padding-top: 14px; }
#topContent big { padding-left: 10px; font-size: 1.1em; font-weight: bold; color: rgb(124, 86, 167); font-family: Arial; }
#topContent span a { margin: 5px 0pt 10px; font-size: 10px; color: rgb(255, 0, 0); font-weight: bold; font-family: Verdana; padding-left: 7px; display: block; }
a { color: rgb(124, 86, 167); }
form { margin: 0pt; padding: 0pt; }
.clear { margin: 0pt; padding: 0pt; clear: both; line-height: 0px; }
#breadcrumb { margin: 0pt 0pt 10px; padding: 0pt 0pt 0pt 10px; color: rgb(0, 0, 0); }
#breadcrumb a { color: rgb(0, 0, 255); text-decoration: underline; font-weight: normal; }
#breadcrumb a:hover { text-decoration: underline; }
.lh2col { margin: 0pt; padding: 0pt; float: left; width: 550px; }
.rh1col { padding: 1px; margin-left: 555px; width: 190px; }
.rh1col a { text-decoration: underline; }
.rh1col a:hover { text-decoration: underline; }
.rh1col span a { float: right; font-size: 0.63em; text-decoration: underline; }
.modTxtLft { margin: 13px 0pt 0pt 12px; padding: 0pt 0pt 10px; float: left; width: 245px; text-align: left; font-size: 0.65em; color: rgb(0, 0, 0); font-family: Verdana; height: auto; }
.modTxtRt { margin: 13px 0pt 0pt 12px; padding: 0pt 0pt 10px; width: 245px; text-align: left; float: right; height: auto; font-size: 0.65em; color: rgb(0, 0, 0); font-family: Verdana; }
div.modTxtRt ul li, div.modTxtLft ul li { line-height: 150%; }
.modFullWidth { margin: 10px 0pt 0pt 12px; padding: 0pt; width: 520px; text-align: left; color: rgb(0, 0, 0); font-family: Verdana; }
.modEntireWidthPln { margin: 10px 0pt 0pt 12px; padding: 0pt; width: 730px; text-align: left; color: rgb(0, 0, 0); font-family: Verdana; float: left; }
.modFullWidthPln { margin: 10px 0pt 0pt 12px; padding: 0pt; width: 500px; text-align: left; color: rgb(0, 0, 0); font-family: Verdana; }
.modFullWidthPln h2 a { font-family: Arial; color: rgb(0, 0, 255); font-weight: normal; }
.modFullWidthPln td { font-size: 0.63em; color: rgb(160, 160, 160); }
.modFullWidthPln #stats { margin: 0pt; padding: 0pt; background: transparent url('stats_box_1.gif') no-repeat scroll 0% 0%; width: 344px; height: 113px; }
.modFullWidthPln td span { color: rgb(160, 160, 160); }
.modFullWidthPln #stats td { color: rgb(0, 0, 0); }
.modFullWidthPln #tdpromo { padding-left: 1em; color: rgb(96, 131, 74); }
.modFullWidthPln #tdpromo a { font-size: 1em; }
.modFullWidth td { font-size: 0.83em; padding-bottom: 3px; }
#SiteSelect { margin: 15px 0pt; }
#SiteSelect a { margin: 0pt 0pt 0pt 12px; font-family: Arial; font-size: 13px; }
#SiteSelect h2 { margin: 0pt 0pt 3px; padding: 0pt; font-size: 13px; font-family: Arial; font-weight: bold; color: rgb(124, 86, 167); display: inline; }
.modTxtLft small, .modTxtRt small { margin: 0pt; padding: 0pt; font-size: 1em; font-family: Arial; font-weight: bold; color: rgb(0, 0, 0); }
.modTxtLft img, .modTxtRt img { margin-top: 3px; }
.modTxtLft div, .modTxtRt div { padding-left: 26px; }
.modTxtLft span, .modTxtRt span { color: rgb(0, 0, 255); font-size: 1.2em; font-weight: bold; display: block; margin-bottom: 4px; }
.modTxtLft ul, .modTxtRt ul { margin: 1px 0pt 0pt 1em; padding: 1px 0pt 0pt 1em; color: rgb(0, 0, 0); }
#slimul { margin-left: 10px; padding-left: 10px; color: rgb(0, 0, 0); }
.modHeader { margin: 0pt; padding: 1px 3px 3px; font-size: 0.83em; font-family: Arial; color: rgb(124, 86, 167); font-weight: bold; background-color: rgb(234, 228, 242); text-align: left; }
.modHeadernoArw { margin: 0pt; padding: 1px 3px 3px; font-size: 0.83em; font-family: Arial; color: rgb(124, 86, 167); font-weight: bold; background-color: rgb(234, 228, 242); text-align: left; }
.brdlesscontent .modTxtLft, .brdlesscontent .modTxtRt { margin: 13px 0pt 0pt 12px; padding: 0pt; float: left; width: 245px; text-align: left; display: inline; font-size: 0.83em; color: rgb(0, 0, 0); font-family: Arial; }
.brdlesscontent .modTxtLft img, .brdlesscontent .modTxtRt img { margin: 5px 3px 70px 0pt; }
.brdlesscontent .modTxtLft a, .brdlesscontent .modTxtRt a { font-size: 13px; font-weight: bold; text-decoration: underline; font-family: Arial; }
.brdlesscontent .modTxtLft a:hover, .brdlesscontent .modTxtRt a:hover { text-decoration: underline; }
h1 { margin: 0pt 0pt 3px; padding: 0pt; font-size: 0.88em; font-family: Arial; font-weight: bold; color: rgb(124, 86, 167); }
h2 { margin: 0pt 0pt 3px; padding: 0pt; color: rgb(0, 0, 0); font-size: 13px; font-family: Arial; font-weight: bold; }
#topContent #h2grn { color: rgb(107, 145, 84); }
h3 { margin: 0pt 0pt 2px; padding: 0pt; font-size: 1.2em; font-family: Arial; font-weight: bold; color: rgb(0, 0, 0); }
h4 { margin: 4px 0pt 0pt; padding: 0pt; font-size: 1em; font-family: Verdana; color: rgb(99, 101, 99); font-weight: bold; }
h5 { margin: 0pt; padding: 0pt; font-size: 0.83em; font-family: Arial; color: rgb(99, 101, 99); font-weight: bold; }
h6 { margin: 0pt; padding: 0pt; font-size: 0.93em; font-family: Verdana; color: rgb(0, 0, 0); font-weight: bold; }
#LrgModHeader { color: rgb(107, 145, 84); font-weight: bold; font-size: 18px; }
#toolsCompare { font-family: Arial; font-size: 0.83em; }
#toolsCompare h2 { color: rgb(107, 145, 84); font-weight: bold; font-size: 18px; }
#toolsCompareTable { font-family: Arial; font-size: 0.83em; }
#toolsCompareTable th { font-weight: normal; }
#toolsCompareTable th a { font-weight: bold; font-size: 13px; margin-bottom: 2px; }
#toolsCompareTable th div { margin-top: 5px; color: rgb(100, 100, 100); font-family: Verdana; font-size: 10px; }
#toolsCompareTable th h2 { color: rgb(107, 145, 84); font-weight: bold; font-size: 24px; font-family: Arial; }
#toolsCompareTable td { border-bottom: 1px solid rgb(210, 226, 202); color: rgb(0, 0, 0); font-size: 13px; font-family: Arial; }
#toolsCompareTable td span { color: rgb(255, 0, 0); }
#toolsCompareTable #whtbtmln { border-bottom: 1px solid rgb(255, 255, 255); }
#choosetools { width: 100%; margin-top: 20px; }
#choosetools #ctleft { border-right: 1px dashed rgb(204, 204, 204); float: left; width: 360px; height: 530px; color: rgb(100, 100, 100); }
#choosetools #ctright div { margin: 0pt 0pt 20px 380px; width: 310px; font-size: 10px; font-family: Verdana; color: rgb(100, 100, 100); }
#choosetools #ctleft h2, #choosetools #ctright div h2 { margin: 0pt; padding: 0pt; color: rgb(107, 145, 84); font-family: Arial; font-size: 18px; font-weight: bold; }
#choosetools #ctright div h2 { font-size: 14px; }
#choosetools #ctleft h3 { margin: 0pt; padding: 0pt; color: rgb(57, 125, 189); font-family: Arial; font-size: 21px; font-weight: bold; }
#choosetools #ctright div h3 { margin: 2px 0pt; padding: 0pt; color: rgb(57, 125, 189); font-family: Arial; font-size: 14px; font-weight: bold; }
#choosetools #ctright div img { margin: 0pt 5px 90px 0pt; padding: 4px 0pt 0pt; }
#choosetools #ctright div.ctrfirst { border-bottom: 1px dashed rgb(204, 204, 204); padding: 0pt 0pt 20px; }
#choosetools #ctright div span, #choosetools #ctright div p { margin-left: 20px; }
#choosetools #ctleft img.ctlfirst { margin: 0pt 5px 400px 0pt; padding: 4px 0pt 0pt; }
#choosetools #ctright div ul { margin: 5px 0pt 0pt 19px; padding: 0pt 0pt 0pt 19px; }
#choosetools #ctleft ul { margin: 8px 0pt 12px 19px; padding: 0pt 0pt 0pt 19px; }
#topContent h2 { padding-left: 10px; font-size: 1.5em; font-weight: bold; color: rgb(124, 86, 167); font-family: Arial; }
.btn, .boldbtn { border-style: solid; border-color: rgb(86, 86, 86); border-width: 1px 1px 2px; margin: 3px; padding: 0.2em 0pt 0.1em; background: rgb(224, 225, 229) url('btbg.gif') repeat scroll 0% 0%; color: rgb(0, 0, 0); font-weight: normal; }
.boldbtn { font-weight: bold; }
.manageMod { color: rgb(0, 0, 0); font-size: 10px; display: block; margin-bottom: 4px; }
#qlrt { float: right; margin-top: 0pt; font-family: Verdana; font-weight: bold; font-size: 10px; color: rgb(9, 86, 166); text-align: right; }
.bodycontent { font-family: Arial; font-style: normal; font-variant: normal; font-weight: normal; font-size: 13px; line-height: 16px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; padding-left: 10px; }
.formbtns { padding: 7px; background-color: rgb(240, 240, 240); text-align: center; margin-top: 20px; font-size: 16px; }
#sitestats { font-size: 0.63em; }
#geosearch { font-size: 14px; font-weight: bold; font-family: Arial,Helvetica,sans-serif; color: rgb(102, 102, 102); }
#geosearchb { width: 150px; height: 19px; }
#geosearch a { font-weight: normal; font-size: 10px; }
#defaultText { font-family: Arial; font-size: 13px; }
#defaultText .blockindent { margin-bottom: 10px; margin-left: 25px; }
.expltext { margin-left: 110px; }
.lh2col .rbtop { background: transparent url('gcp_t_1.gif') repeat-x scroll 0% 0%; }
.lh2col .rbtop div { background: transparent url('gcp_tl_1.gif') no-repeat scroll left top; }
.lh2col .rbtop div div { background: transparent url('gcp_tr_1.gif') no-repeat scroll right top; }
.lh2col .rbbot { background: transparent url('gcp_b_2.gif') repeat-x scroll 0% 0%; }
.lh2col .rbbot div { background: transparent url('gcp_bl_1.gif') no-repeat scroll left top; }
.lh2col .rbbot div div { background: transparent url('gcp_br_1.gif') no-repeat scroll right top; }
.lh2col .rbcontentwrap { background: transparent url('gcp_l_1.gif') repeat-y scroll 0% 0%; }
.lh2col .rbcontent { background: transparent url('gcp_r_2.gif') repeat-y scroll right center; }
.lh2col .rbtop div, .lh2col .rbtop, .lh2col .rbbot div, .lh2col .rbbot { width: 100%; height: 4px; font-size: 1px; }
.lh2col .rbcontent { margin: 0pt; padding: 0pt 6px 20px 4px; }
.lh2col .rbcontent a { text-decoration: underline; }
.lh2col .rbcontent a:hover { text-decoration: underline; }
.lh2col .rbroundbox { width: 550px; margin-bottom: 10px; }
.lh2col p { margin: 3px 0pt 0pt; padding: 0pt; }
.lh2col .rbcontentwrapClosed { background: transparent url('gcp_l_1.gif') repeat-y scroll 0% 0%; padding-bottom: 0px; }
.lh2col .nshtop { background: transparent url('ql_t_1.gif') repeat-x scroll 0% 0%; margin-top: 10px; }
.lh2col .nshtop div { background: transparent url('ql_tl_1.gif') no-repeat scroll left top; }
.lh2col .nshtop div div { background: transparent url('ql_tr_1.gif') no-repeat scroll right top; }
.lh2col .nshbot { background: transparent url('ql_b_1.gif') repeat-x scroll 0% 0%; }
.lh2col .nshbot div { background: transparent url('ql_bl_1.gif') no-repeat scroll left top; }
.lh2col .nshbot div div { background: transparent url('ql_br_1.gif') no-repeat scroll right top; }
.lh2col .nshcontentwrap { background: transparent url('ql_l_1.gif') repeat-y scroll 0% 0%; }
.lh2col .nshcontent { background: transparent url('ql_r_1.gif') repeat-y scroll right center; }
.lh2col .nshtop div, .lh2col .nshtop, .lh2col .nshbot div, .lh2col .nshbot { width: 100%; height: 3px; font-size: 1px; }
.lh2col .nshcontent { margin: 0pt 0pt 0pt 3px; padding: 5px 4px 15px 8px; font-family: Arial; font-size: 0.73em; background-color: rgb(231, 239, 227); }
.lh2col .nshcontent td { margin: 0pt; padding: 0pt; }
.lh2col .nshroundbox { width: 180px; }
.lh2col .viewrt { width: 100%; text-align: right; font-size: 10px; padding-bottom: 3px; }
.lh2col p { margin: 10px 0pt 0pt; padding: 0pt; }
.rh1col .rbtop { background: transparent url('help_t.gif') repeat-x scroll 0% 0%; margin-top: 10px; }
.rh1col .rbtop div { background: transparent url('whcp_help_tl_1.gif') no-repeat scroll left top; }
.rh1col .rbtop div div { background: transparent url('whcp_help_tr_1.gif') no-repeat scroll right top; }
.rh1col .rbbot { background: transparent url('whcp_help_b_1.gif') repeat-x scroll 0% 0%; margin-bottom: 10px; }
.rh1col .rbbot div { background: transparent url('whcp_help_bl_1.gif') no-repeat scroll left top; }
.rh1col .rbbot div div { background: transparent url('whcp_help_br_1.gif') no-repeat scroll right top; }
.rh1col .rbcontentwrap { background: transparent url('whcp_help_l_1.gif') repeat-y scroll 0% 0%; }
.rh1col .rbcontent { background: transparent url('whcp_help_r_1.gif') repeat-y scroll right center; }
.rh1col .rbcontent img { margin: 3px 0pt 10px; }
.rh1col .rbtop div, .rh1col .rbtop, .rh1col .rbbot div, .rh1col .rbbot { width: 100%; height: 3px; font-size: 1px; }
.rh1col .rbcontent { margin: 0pt 0pt 0pt 3px; padding: 5px 12px 15px 8px; font-family: Arial; font-size: 0.83em; background-color: rgb(240, 240, 240); }
.rh1col .rbroundbox { width: 180px; }
.rh1col .viewrt { width: 100%; text-align: right; font-size: 10px; padding-bottom: 3px; }
.rh1col p { margin: 10px 0pt 0pt; padding: 0pt; }
#whcptabs { border-bottom: 1px solid rgb(124, 86, 167); float: left; font-family: Verdana; font-size: 10px; width: 100%; padding-left: 10px; margin-top: 10px; }
#whcptabs ul { margin: 0pt; padding: 0pt; bottom: -1px; left: 20px; display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; }
#whcptabs li { display: inline; list-style-type: none; list-style-image: none; list-style-position: outside; }
#whcptabs li.selected { margin: 0pt 4px 0pt 0pt; font-weight: bold; color: rgb(124, 86, 167); }
#whcptabs a { border-style: solid solid none; border-color: rgb(124, 86, 167) rgb(124, 86, 167) -moz-use-text-color; border-width: 1px 1px medium; padding: 3px 10px 4px; display: block; float: left; margin-top: 3px; margin-right: 4px; text-align: center; text-decoration: none; font-weight: bold; color: rgb(124, 86, 167); background-color: rgb(234, 228, 242); }
#whcptabs span a { border: 0pt solid rgb(255, 255, 255); font-family: Verdana; color: rgb(0, 0, 255); font-weight: normal; background-color: rgb(255, 255, 255); font-size: 10px; text-decoration: underline; }
#whcptabs a.selected { border-top: 1px solid rgb(255, 255, 255); border-left: 0px none; border-right: 1px solid rgb(255, 255, 255); padding: 4px 13px 6px 10px; background: rgb(124, 86, 167) url('tab_shad_1.gif') no-repeat scroll right center; float: left; display: block; font-weight: bold; color: rgb(255, 255, 255); margin-top: 0pt; margin-right: 2px; }
#whcptabs a:hover { text-decoration: underline; }
.triclr { margin: 0pt 0pt -10px; padding: 0pt; clear: both; width: 45em; }
#triclr_home { background: transparent url('tab_arw_1.gif') no-repeat scroll 33px 0px; }
#triclr_create { background: transparent url('tab_arw_1.gif') no-repeat scroll 121px 0px; }
#triclr_manage { background: transparent url('tab_arw_1.gif') no-repeat scroll 218px 0px; }
#triclr_promote { background: transparent url('tab_arw_1.gif') no-repeat scroll 289px 0px; }
#triclr_help { background: transparent url('tab_arw_1.gif') no-repeat scroll 353px 0px; }
#triclr_index { background: transparent url('tab_arw_1.gif') no-repeat scroll 408px 0px; }
#ysbcnv a { font-family: Arial; font-size: 0.73em; }
#sbctop { margin-bottom: 10px; }
.alert { color: rgb(255, 0, 0); font-family: Arial; font-size: 13px; font-weight: bold; display: block; padding-bottom: 8px; }
#FTPsettings { margin: 5px 0pt 0pt; padding: 0pt; color: rgb(0, 0, 0); font-size: 10px; }
#vmsite { position: relative; top: 26px; font-weight: normal; margin-top: -15px; text-decoration: underline; font-family: Verdana; color: rgb(200, 200, 200); font-size: 10px; }
#vmsite_pending { position: relative; top: 26px; font-weight: normal; margin-top: -15px; color: rgb(200, 200, 200); }
#vmsite_pending a { text-decoration: underline; font-family: Verdana; color: rgb(200, 200, 200); font-size: 10px; }
#vmsite_pending span { font-size: 10px; font-family: Verdana; color: rgb(255, 0, 0); }
.WHOverview { margin: 0pt; padding: 0pt; float: left; width: 100%; font-size: 10px; font-family: Verdana; }
.WHOverview h2 { color: rgb(97, 131, 76); font-weight: bold; font-size: 14px; }
.WHOverview .whotop { background: transparent url('ql_t_1.gif') repeat-x scroll 0% 0%; margin-top: 18px; }
.WHOverview .whotop div { background: transparent url('ql_tl_1.gif') no-repeat scroll left top; }
.WHOverview .whotop div div { background: transparent url('ql_tr_1.gif') no-repeat scroll right top; }
.WHOverview .whobot { background: transparent url('ql_b_1.gif') repeat-x scroll 0% 0%; }
.WHOverview .whobot div { background: transparent url('ql_bl_1.gif') no-repeat scroll left top; }
.WHOverview .whobot div div { background: transparent url('ql_br_1.gif') no-repeat scroll right top; }
.WHOverview .whocontentwrap { background: transparent url('ql_l_1.gif') repeat-y scroll 0% 0%; }
.WHOverview .whocontent { background: transparent url('ql_r_1.gif') repeat-y scroll right center; }
.WHOverview .whotop div, .WHOverview .whotop, .WHOverview .whobot div, .WHOverview .whobot { width: 100%; height: 3px; font-size: 1px; }
.WHOverview .whocontentLeft, .WHOverview .whocontentLeftOrient, .WHOverview .whocontentLeftOrientTop { margin: 0pt 0pt 0pt 3px; padding: 0pt 0pt 15px; width: 195px; font-family: Arial; font-size: 13px; background-color: rgb(231, 239, 227); color: rgb(97, 131, 76); }
.WHOverview .whocontentLeftOrient { padding: 5px 0pt 10px; }
.WHOverview .whocontentLeftOrientTop { padding: 0pt; font-size: 8px; }
.WHOverview .whocontentRight { float: right; width: 525px; }
.WHOverview .whocontentRight h3 { padding: 11px 0pt 8px; font-size: 21px; font-family: Arial; color: rgb(97, 131, 76); }
.WHOverview .whocontentLeft a, .WHOverview .whocontentLeftOrient a { color: rgb(97, 131, 76); }
.WHOverview .whocontentSelected { margin: 0pt 0pt 0pt 3px; padding: 3px 0pt 3px 8px; width: 195px; background-color: rgb(255, 255, 255); color: rgb(221, 120, 23); font-size: 13px; font-family: Arial; font-weight: bold; }
.WHOverview .whocontentSelected p { margin: 0pt; padding: 0pt; }
.WHOverview .whocontentLeft td { margin: 0pt; padding: 0pt; }
.WHOverview .whoroundbox { width: 180px; }
.WHOverview .viewrt { width: 100%; text-align: right; font-size: 10px; padding-bottom: 3px; }
.WHOverview p { margin: 0pt; padding: 10px 0pt 0pt 8px; }
.textBubble { position: absolute; width: 400px; margin-left: 250px; margin-top: 280px; }
.textBubble .rbtop { background: transparent url('whcp_t_1.gif') repeat-x scroll 0% 0%; }
.textBubble .rbtop div { background: transparent url('whcp_tl_1.gif') no-repeat scroll left top; }
.textBubble .rbtop div div { background: transparent url('whcp_tr_1.gif') no-repeat scroll right top; }
.textBubble .rbbot { background: transparent url('whcp_b_2.gif') repeat-x scroll 0% 0%; }
.textBubble .rbbot div { background: transparent url('whcp_bl_1.gif') no-repeat scroll left top; }
.textBubble .rbbot div div { background: transparent url('whcp_br_1.gif') no-repeat scroll right top; }
.textBubble .rbcontentwrap { background: rgb(253, 253, 238) url('whcp_l_1.gif') repeat-y scroll 0% 0%; }
.textBubble .rbcontent { background: transparent url('whcp_r_2.gif') repeat-y scroll right center; }
.textBubble .rbtop div, .textBubble .rbtop, .textBubble .rbbot div, .textBubble .rbbot { width: 100%; height: 4px; font-size: 1px; }
.textBubble .rbtop div, .textBubble .rbtop { height: 2px; }
.textBubble .rbcontent { margin: 0pt 0pt 0pt 3px; }
.textBubble .rbcontent div { padding: 8px 20px 16px 13px; font-family: Arial; font-size: 13px; }
.textBubble .rbcontent a { text-decoration: underline; }
.textBubble .rbcontent a:hover { text-decoration: underline; }
.textBubble .rbcontent h4 { margin: 0pt 5px 0pt 0pt; padding: 0pt 5px 0pt 0pt; color: rgb(221, 120, 23); display: inline; font-size: 13px; font-weight: bold; font-family: Arial; }
.textBubble .rbroundbox { width: 100%; margin-bottom: 10px; }
.lh1colL { padding: 1px; float: left; margin-left: 0pt; width: 260px; }
.lh1colL .rbcontent { margin: 0pt 0pt 0pt 3px; padding: 0pt 12px 15px 5px; font-family: Arial; font-size: 0.83em; background-color: rgb(255, 255, 255); }
.lh1colL .rbroundbox { width: 180px; }
.lh1colL p { margin: 10px 0pt 0pt; padding: 0pt; }
.lh1colL ul { margin: 0pt 0pt 0pt 8px; padding: 0pt 0pt 0pt 8px; }
.lh1colR { padding: 1px; float: left; margin-left: 15px; width: 260px; }
.lh1colR .rbcontent { margin: 0pt 0pt 0pt 3px; padding: 0pt 12px 15px 5px; font-family: Arial; font-size: 0.83em; background-color: rgb(255, 255, 255); }
.lh1colR .rbroundbox { width: 180px; }
.lh1colR p { margin: 10px 0pt 0pt; padding: 0pt; }
.lh1colR ul { margin: 0pt 0pt 0pt 8px; padding: 0pt 0pt 0pt 8px; }
.announcement { padding-left: 5px; padding-top: 10px; }
.announcement a { font-size: 10px; color: rgb(255, 0, 0); font-weight: bold; font-family: Verdana; }
.announcement img { margin-top: 0pt; }
.announcement div { padding-left: 5px; }
.bwalert { font-size: 10px; color: rgb(255, 0, 0); font-weight: bold; font-family: Verdana; margin-top: 0pt; margin-bottom: 10px; }
.mod_expand { display: block; }
.mod_collapse { display: none; }
.disclaimer { width: 750px; text-align: left; }
.disclaimer p { margin: 5px 0pt 0pt; font-family: Arial,Helvetica,sans-serif; font-size: 9px; color: rgb(153, 153, 153); }
.tour_maincontainer { margin: 0pt; padding: 0pt; width: 780px; height: auto; }
.tour_body { border: 1px solid rgb(162, 162, 162); margin: 0pt; padding: 0pt; width: 100%; height: 374px; text-align: left; }
.tour_head { width: 100%; height: 23px; }
.tour_head #logo { width: 50%; display: block; float: left; text-align: left; }
.tour_head #homelnk { width: 50%; display: block; float: right; text-align: right; margin-top: 3px; }
.tour_head #homelnk a { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(140, 140, 140); }
.tour_head_sbc { width: 100%; height: 38px; }
.tour_head_sbc #logo { width: 50%; display: block; float: left; text-align: left; }
.tour_head_sbc #homelnk { width: 50%; display: block; float: right; text-align: right; margin-top: 18px; }
.tour_head_sbc #homelnk a { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(140, 140, 140); }
.tour_body h3 { margin: 15px 5px 0px 10px; padding: 0pt; font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: bold; color: rgb(127, 0, 143); }
.tour_body p { margin: 0pt 10px 10px; padding: 0pt; font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(104, 104, 104); }
.tour_promo { display: block; float: left; color: rgb(68, 68, 68); font-size: 10px; font-family: Arial,Helvetica,sans-serif; text-align: left; margin-left: 5px; }
.tour_body_content { height: 210px; }
.tour_subh { font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: rgb(104, 104, 104); font-weight: bold; }
.tour_subh img { margin-left: 8px; }
.tour_footer { margin: -40px 0pt 0pt; padding: 0pt; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; display: block; float: right; width: 100%; text-align: right; height: 10px; }
.tour_navlnk { margin: 0pt 10px 10px 0pt; display: block; float: right; width: 100px; font-family: Arial,Helvetica,sans-serif; font-size: 10px; font-weight: bold; text-align: right; position: relative; bottom: 70px; }
.tour_navlnk a.on { color: rgb(127, 0, 143); text-decoration: none; }
.tour_navlnk span { color: rgb(153, 153, 153); text-decoration: none; }
.hint { border-bottom: 1px dotted rgb(127, 0, 143); text-decoration: none; color: rgb(104, 104, 104); }
.tour_pophelp { border: 1px solid rgb(127, 0, 143); padding: 3px; position: absolute; display: none; width: 150px; font-family: Arial,Helvetica,sans-serif; font-size: 10px; background-color: rgb(244, 236, 253); text-align: left; }
.tour_artxt { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(104, 104, 104); }
.tour_imgcaption { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(68, 68, 68); font-weight: bold; }
.tour_artxt ul { margin: 0pt 0pt 0pt 15px; padding: 0pt 0pt 0pt 0px; }
.tour_artxt li { margin: 5px 0pt 0pt; padding: 0pt; }
.tour_img_descr { font-family: Arial,Helvetica,sans-serif; font-size: 10px; color: rgb(104, 104, 104); margin-top: 10px; text-align: center; }
#toolTip { border: 1px solid rgb(127, 0, 143); padding: 3px; position: absolute; width: 150px; font-family: Arial,Helvetica,sans-serif; font-size: 10px; background-color: rgb(244, 236, 253); text-align: left; }
#toolTip p { margin: 0pt; padding: 0pt; }
.yfitabs { border-bottom: 1px solid rgb(124, 86, 167); position: relative; float: left; font-family: Verdana; font-size: 10px; width: 100%; padding-left: 10px; margin-top: 10px; margin-bottom: 20px; }
.yfitabs .yfitt { height: auto; }
.yfitabs .yfitt ul { margin: 0pt; padding: 0pt; float: left; list-style-type: none; list-style-image: none; list-style-position: outside; width: 100%; position: relative; top: 7px; }
.yfitabs .yfitt li { float: left; display: block; padding-bottom: 7px; padding-top: 0px; margin-right: 0px; }
.yfitabs .yfitt li a { border-top: 1px solid rgb(124, 86, 167); border-left: 1px solid rgb(124, 86, 167); border-right: 1px solid rgb(124, 86, 167); margin: 3px 4px 0pt 0pt; padding: 3px 10px 4px; float: left; display: block; text-decoration: none; font-weight: bold; color: rgb(124, 86, 167); background-color: rgb(234, 228, 242); cursor: pointer; }
.yfitabs .yfitt li em { padding: 0pt; float: left; margin-right: 0pt; font-style: normal; }
.yfitabs .yfitt li.on { background: transparent url('tab_arw_1.gif') no-repeat scroll center bottom; }
.yfitabs .yfitt li.on a { border-top: medium none; border-right: medium none; margin: 0pt 2px 0pt 0pt; padding: 4px 13px 7px 10px; background-color: rgb(124, 86, 167); text-decoration: none; background-image: url('tab_shad_1.gif'); background-repeat: no-repeat; background-position: right center; }
.yfitabs .yfitt li.on em { color: rgb(255, 255, 255); }
